/* component.css */
/* Component tokens for all modes */
/*
* modes: light-mode,hc-light-mode,dark-mode,hc-dark-mode
* type: component
* variables: 1004
* generated: 2025-06-29T13:28:05.854Z
*/
:root {
--Color-Base-Background-default: #ffffff;
--Color-Base-Background-hover: #ecedf0;
--Color-Base-Background-active: #c7cad1;
--Color-Base-Background-disabled: #ffffff;
--Color-Base-Foreground-default: #1d222c;
--Color-Base-Foreground-hover: #1d222c;
--Color-Base-Foreground-active: #1d222c;
--Color-Base-Foreground-disabled: #a1a7b3;
--Color-Base-Subtle-Background-default: #ecedf0;
--Color-Base-Subtle-Background-hover: #c7cad1;
--Color-Base-Subtle-Background-active: #a1a7b3;
--Color-Base-Subtle-Background-disabled: #ecedf0;
--Color-Base-Subtle-Foreground-default: #31394a;
--Color-Base-Subtle-Foreground-hover: #31394a;
--Color-Base-Subtle-Foreground-active: #1d222c;
--Color-Base-Subtle-Foreground-disabled: #a1a7b3;
--Color-Base-Primary-Background-default: #242a37;
--Color-Base-Primary-Background-hover: #31394a;
--Color-Base-Primary-Background-active: #374054;
--Color-Base-Primary-Background-disabled: #a1a7b3;
--Color-Base-Primary-Foreground-default: #ffffff;
--Color-Base-Primary-Foreground-hover: #ffffff;
--Color-Base-Primary-Foreground-active: #ffffff;
--Color-Base-Primary-Foreground-disabled: #ecedf0;
--Color-Base-Border-default: #c7cad1;
--Color-Base-Border-hover: #a1a7b3;
--Color-Base-Border-active: #7b8394;
--Color-Base-Border-disabled: #c7cad1;
--Color-Primary-Background-default: #ffffff;
--Color-Primary-Background-hover: #eaf1fc;
--Color-Primary-Background-active: #c0d5f6;
--Color-Primary-Background-disabled: #ffffff;
--Color-Primary-Foreground-default: #2c72e0;
--Color-Primary-Foreground-hover: #245db8;
--Color-Primary-Foreground-active: #2053a4;
--Color-Primary-Foreground-disabled: #a1a7b3;
--Color-Primary-Subtle-Background-default: #eaf1fc;
--Color-Primary-Subtle-Background-hover: #c0d5f6;
--Color-Primary-Subtle-Background-active: #96b9f0;
--Color-Primary-Subtle-Background-disabled: #ffffff;
--Color-Primary-Subtle-Foreground-default: #245db8;
--Color-Primary-Subtle-Foreground-hover: #183e79;
--Color-Primary-Subtle-Foreground-active: #133160;
--Color-Primary-Subtle-Foreground-disabled: #a1a7b3;
--Color-Primary-Primary-Background-default: #2c72e0;
--Color-Primary-Primary-Background-hover: #245db8;
--Color-Primary-Primary-Background-active: #2053a4;
--Color-Primary-Primary-Background-disabled: #a1a7b3;
--Color-Primary-Primary-Foreground-default: #ffffff;
--Color-Primary-Primary-Foreground-hover: #ffffff;
--Color-Primary-Primary-Foreground-active: #ffffff;
--Color-Primary-Primary-Foreground-disabled: #ecedf0;
--Color-Primary-Border-default: #568ee6;
--Color-Primary-Border-hover: #2c72e0;
--Color-Primary-Border-active: #245db8;
--Color-Primary-Border-disabled: #a1a7b3;
--Color-Success-Background-default: #ffffff;
--Color-Success-Background-hover: #e6f3e6;
--Color-Success-Background-active: #b4dcb3;
--Color-Success-Background-disabled: #ffffff;
--Color-Success-Foreground-default: #058900;
--Color-Success-Foreground-hover: #047000;
--Color-Success-Foreground-active: #046400;
--Color-Success-Foreground-disabled: #a1a7b3;
--Color-Success-Subtle-Background-default: #e6f3e6;
--Color-Success-Subtle-Background-hover: #b4dcb3;
--Color-Success-Subtle-Background-active: #82c480;
--Color-Success-Subtle-Background-disabled: #ffffff;
--Color-Success-Subtle-Foreground-default: #047000;
--Color-Success-Subtle-Foreground-hover: #034a00;
--Color-Success-Subtle-Foreground-active: #023b00;
--Color-Success-Subtle-Foreground-disabled: #a1a7b3;
--Color-Success-Primary-Background-default: #058900;
--Color-Success-Primary-Background-hover: #047000;
--Color-Success-Primary-Background-active: #046400;
--Color-Success-Primary-Background-disabled: #a1a7b3;
--Color-Success-Primary-Foreground-default: #ffffff;
--Color-Success-Primary-Foreground-hover: #ffffff;
--Color-Success-Primary-Foreground-active: #ffffff;
--Color-Success-Primary-Foreground-disabled: #ecedf0;
--Color-Success-Border-default: #37a133;
--Color-Success-Border-hover: #058900;
--Color-Success-Border-active: #047000;
--Color-Success-Border-disabled: #a1a7b3;
--Color-Warning-Background-default: #ffffff;
--Color-Warning-Background-hover: #faede6;
--Color-Warning-Background-active: #f0cab3;
--Color-Warning-Background-disabled: #ffffff;
--Color-Warning-Foreground-default: #cc4e00;
--Color-Warning-Foreground-hover: #a74000;
--Color-Warning-Foreground-active: #953900;
--Color-Warning-Foreground-disabled: #a1a7b3;
--Color-Warning-Subtle-Background-default: #faede6;
--Color-Warning-Subtle-Background-hover: #f0cab3;
--Color-Warning-Subtle-Background-active: #e6a780;
--Color-Warning-Subtle-Background-disabled: #ffffff;
--Color-Warning-Subtle-Foreground-default: #a74000;
--Color-Warning-Subtle-Foreground-hover: #6e2a00;
--Color-Warning-Subtle-Foreground-active: #582200;
--Color-Warning-Subtle-Foreground-disabled: #a1a7b3;
--Color-Warning-Primary-Background-default: #cc4e00;
--Color-Warning-Primary-Background-hover: #a74000;
--Color-Warning-Primary-Background-active: #953900;
--Color-Warning-Primary-Background-disabled: #a1a7b3;
--Color-Warning-Primary-Foreground-default: #ffffff;
--Color-Warning-Primary-Foreground-hover: #ffffff;
--Color-Warning-Primary-Foreground-active: #ffffff;
--Color-Warning-Primary-Foreground-disabled: #ecedf0;
--Color-Warning-Border-default: #d67133;
--Color-Warning-Border-hover: #cc4e00;
--Color-Warning-Border-active: #a74000;
--Color-Warning-Border-disabled: #a1a7b3;
--Color-Error-Background-default: #ffffff;
--Color-Error-Background-hover: #fde7e7;
--Color-Error-Background-active: #f9b6b8;
--Color-Error-Background-disabled: #ffffff;
--Color-Error-Foreground-default: #ea0d11;
--Color-Error-Foreground-hover: #c00b0e;
--Color-Error-Foreground-active: #ab090c;
--Color-Error-Foreground-disabled: #a1a7b3;
--Color-Error-Subtle-Background-default: #fde7e7;
--Color-Error-Subtle-Background-hover: #f9b6b8;
--Color-Error-Subtle-Background-active: #f58688;
--Color-Error-Subtle-Background-disabled: #ffffff;
--Color-Error-Subtle-Foreground-default: #c00b0e;
--Color-Error-Subtle-Foreground-hover: #7e0709;
--Color-Error-Subtle-Foreground-active: #650607;
--Color-Error-Subtle-Foreground-disabled: #a1a7b3;
--Color-Error-Primary-Background-default: #ea0d11;
--Color-Error-Primary-Background-hover: #c00b0e;
--Color-Error-Primary-Background-active: #ab090c;
--Color-Error-Primary-Background-disabled: #a1a7b3;
--Color-Error-Primary-Foreground-default: #ffffff;
--Color-Error-Primary-Foreground-hover: #ffffff;
--Color-Error-Primary-Foreground-active: #ffffff;
--Color-Error-Primary-Foreground-disabled: #ecedf0;
--Color-Error-Border-default: #ee3d41;
--Color-Error-Border-hover: #ea0d11;
--Color-Error-Border-active: #c00b0e;
--Color-Error-Border-disabled: #a1a7b3;
--Color-Info-Background-default: #ffffff;
--Color-Info-Background-hover: #e6f2f8;
--Color-Info-Background-active: #b3d7ea;
--Color-Info-Background-disabled: #ffffff;
--Color-Info-Foreground-default: #007bba;
--Color-Info-Foreground-hover: #006599;
--Color-Info-Foreground-active: #005a88;
--Color-Info-Foreground-disabled: #a1a7b3;
--Color-Info-Subtle-Background-default: #e6f2f8;
--Color-Info-Subtle-Background-hover: #b3d7ea;
--Color-Info-Subtle-Background-active: #80bddd;
--Color-Info-Subtle-Background-disabled: #ffffff;
--Color-Info-Subtle-Foreground-default: #006599;
--Color-Info-Subtle-Foreground-hover: #004264;
--Color-Info-Subtle-Foreground-active: #003550;
--Color-Info-Subtle-Foreground-disabled: #a1a7b3;
--Color-Info-Primary-Background-default: #007bba;
--Color-Info-Primary-Background-hover: #006599;
--Color-Info-Primary-Background-active: #005a88;
--Color-Info-Primary-Background-disabled: #a1a7b3;
--Color-Info-Primary-Foreground-default: #ffffff;
--Color-Info-Primary-Foreground-hover: #ffffff;
--Color-Info-Primary-Foreground-active: #ffffff;
--Color-Info-Primary-Foreground-disabled: #ecedf0;
--Color-Info-Border-default: #3395c8;
--Color-Info-Border-hover: #007bba;
--Color-Info-Border-active: #006599;
--Color-Info-Border-disabled: #a1a7b3;
--Color-Focus-focus: #2c72e0;
--Boolean: true;
--Spacing-0: 0;
--Spacing-1: 16;
--Spacing-2: 24;
--Spacing-3: 32;
--Spacing-4: 40;
--Spacing-5: 48;
--border-border-radius-none: 0;
--border-border-radius-sm: 4;
--border-border-radius-md: 8;
--border-border-radius-md-focus: 12;
--border-border-radius-lg: 16;
--border-border-radius-xl: 32;
--border-border-radius-full: 999;
--border-border-width-none: 0;
--border-border-width-default: 1;
--border-border-width-hover: 2;
--border-border-width-active: 2;
--border-border-width-selected: 3;
--border-border-width-disabled: 1;
}
[data-mode="hc-light-mode"] {
--Color-Base-Background-default: #ffffff;
--Color-Base-Background-hover: #c7cad1;
--Color-Base-Background-active: #c7cad1;
--Color-Base-Background-disabled: #ffffff;
--Color-Base-Foreground-default: #000000;
--Color-Base-Foreground-hover: #000000;
--Color-Base-Foreground-active: #000000;
--Color-Base-Foreground-disabled: #434e66;
--Color-Base-Subtle-Background-default: #c7cad1;
--Color-Base-Subtle-Background-hover: #c7cad1;
--Color-Base-Subtle-Background-active: #434e66;
--Color-Base-Subtle-Background-disabled: #c7cad1;
--Color-Base-Subtle-Foreground-default: #000000;
--Color-Base-Subtle-Foreground-hover: #000000;
--Color-Base-Subtle-Foreground-active: #000000;
--Color-Base-Subtle-Foreground-disabled: #434e66;
--Color-Base-Primary-Background-default: #000000;
--Color-Base-Primary-Background-hover: #000000;
--Color-Base-Primary-Background-active: #434e66;
--Color-Base-Primary-Background-disabled: #434e66;
--Color-Base-Primary-Foreground-default: #ffffff;
--Color-Base-Primary-Foreground-hover: #ffffff;
--Color-Base-Primary-Foreground-active: #ffffff;
--Color-Base-Primary-Foreground-disabled: #c7cad1;
--Color-Base-Border-default: #c7cad1;
--Color-Base-Border-hover: #434e66;
--Color-Base-Border-active: #434e66;
--Color-Base-Border-disabled: #c7cad1;
--Color-Primary-Background-default: #ffffff;
--Color-Primary-Background-hover: #c0d5f6;
--Color-Primary-Background-active: #c0d5f6;
--Color-Primary-Background-disabled: #ffffff;
--Color-Primary-Foreground-default: #2c72e0;
--Color-Primary-Foreground-hover: #000000;
--Color-Primary-Foreground-active: #000000;
--Color-Primary-Foreground-disabled: #434e66;
--Color-Primary-Subtle-Background-default: #c0d5f6;
--Color-Primary-Subtle-Background-hover: #c0d5f6;
--Color-Primary-Subtle-Background-active: #2c72e0;
--Color-Primary-Subtle-Background-disabled: #ffffff;
--Color-Primary-Subtle-Foreground-default: #000000;
--Color-Primary-Subtle-Foreground-hover: #000000;
--Color-Primary-Subtle-Foreground-active: #000000;
--Color-Primary-Subtle-Foreground-disabled: #434e66;
--Color-Primary-Primary-Background-default: #2c72e0;
--Color-Primary-Primary-Background-hover: #000000;
--Color-Primary-Primary-Background-active: #000000;
--Color-Primary-Primary-Background-disabled: #434e66;
--Color-Primary-Primary-Foreground-default: #ffffff;
--Color-Primary-Primary-Foreground-hover: #ffffff;
--Color-Primary-Primary-Foreground-active: #ffffff;
--Color-Primary-Primary-Foreground-disabled: #c7cad1;
--Color-Primary-Border-default: #2c72e0;
--Color-Primary-Border-hover: #2c72e0;
--Color-Primary-Border-active: #000000;
--Color-Primary-Border-disabled: #434e66;
--Color-Success-Background-default: #ffffff;
--Color-Success-Background-hover: #b4dcb3;
--Color-Success-Background-active: #b4dcb3;
--Color-Success-Background-disabled: #ffffff;
--Color-Success-Foreground-default: #058900;
--Color-Success-Foreground-hover: #000000;
--Color-Success-Foreground-active: #000000;
--Color-Success-Foreground-disabled: #434e66;
--Color-Success-Subtle-Background-default: #b4dcb3;
--Color-Success-Subtle-Background-hover: #b4dcb3;
--Color-Success-Subtle-Background-active: #058900;
--Color-Success-Subtle-Background-disabled: #ffffff;
--Color-Success-Subtle-Foreground-default: #000000;
--Color-Success-Subtle-Foreground-hover: #000000;
--Color-Success-Subtle-Foreground-active: #000000;
--Color-Success-Subtle-Foreground-disabled: #434e66;
--Color-Success-Primary-Background-default: #058900;
--Color-Success-Primary-Background-hover: #000000;
--Color-Success-Primary-Background-active: #000000;
--Color-Success-Primary-Background-disabled: #434e66;
--Color-Success-Primary-Foreground-default: #ffffff;
--Color-Success-Primary-Foreground-hover: #ffffff;
--Color-Success-Primary-Foreground-active: #ffffff;
--Color-Success-Primary-Foreground-disabled: #c7cad1;
--Color-Success-Border-default: #058900;
--Color-Success-Border-hover: #058900;
--Color-Success-Border-active: #000000;
--Color-Success-Border-disabled: #434e66;
--Color-Warning-Background-default: #ffffff;
--Color-Warning-Background-hover: #f0cab3;
--Color-Warning-Background-active: #f0cab3;
--Color-Warning-Background-disabled: #ffffff;
--Color-Warning-Foreground-default: #cc4e00;
--Color-Warning-Foreground-hover: #000000;
--Color-Warning-Foreground-active: #000000;
--Color-Warning-Foreground-disabled: #434e66;
--Color-Warning-Subtle-Background-default: #f0cab3;
--Color-Warning-Subtle-Background-hover: #f0cab3;
--Color-Warning-Subtle-Background-active: #cc4e00;
--Color-Warning-Subtle-Background-disabled: #ffffff;
--Color-Warning-Subtle-Foreground-default: #000000;
--Color-Warning-Subtle-Foreground-hover: #000000;
--Color-Warning-Subtle-Foreground-active: #000000;
--Color-Warning-Subtle-Foreground-disabled: #434e66;
--Color-Warning-Primary-Background-default: #cc4e00;
--Color-Warning-Primary-Background-hover: #000000;
--Color-Warning-Primary-Background-active: #000000;
--Color-Warning-Primary-Background-disabled: #434e66;
--Color-Warning-Primary-Foreground-default: #ffffff;
--Color-Warning-Primary-Foreground-hover: #ffffff;
--Color-Warning-Primary-Foreground-active: #ffffff;
--Color-Warning-Primary-Foreground-disabled: #c7cad1;
--Color-Warning-Border-default: #cc4e00;
--Color-Warning-Border-hover: #cc4e00;
--Color-Warning-Border-active: #000000;
--Color-Warning-Border-disabled: #434e66;
--Color-Error-Background-default: #ffffff;
--Color-Error-Background-hover: #f9b6b8;
--Color-Error-Background-active: #f9b6b8;
--Color-Error-Background-disabled: #ffffff;
--Color-Error-Foreground-default: #ea0d11;
--Color-Error-Foreground-hover: #ffffff;
--Color-Error-Foreground-active: #ffffff;
--Color-Error-Foreground-disabled: #434e66;
--Color-Error-Subtle-Background-default: #f9b6b8;
--Color-Error-Subtle-Background-hover: #f9b6b8;
--Color-Error-Subtle-Background-active: #ea0d11;
--Color-Error-Subtle-Background-disabled: #ffffff;
--Color-Error-Subtle-Foreground-default: #ffffff;
--Color-Error-Subtle-Foreground-hover: #ffffff;
--Color-Error-Subtle-Foreground-active: #ffffff;
--Color-Error-Subtle-Foreground-disabled: #434e66;
--Color-Error-Primary-Background-default: #ea0d11;
--Color-Error-Primary-Background-hover: #ffffff;
--Color-Error-Primary-Background-active: #ffffff;
--Color-Error-Primary-Background-disabled: #434e66;
--Color-Error-Primary-Foreground-default: #ffffff;
--Color-Error-Primary-Foreground-hover: #ffffff;
--Color-Error-Primary-Foreground-active: #ffffff;
--Color-Error-Primary-Foreground-disabled: #c7cad1;
--Color-Error-Border-default: #ea0d11;
--Color-Error-Border-hover: #ea0d11;
--Color-Error-Border-active: #ffffff;
--Color-Error-Border-disabled: #434e66;
--Color-Info-Background-default: #ffffff;
--Color-Info-Background-hover: #b3d7ea;
--Color-Info-Background-active: #b3d7ea;
--Color-Info-Background-disabled: #ffffff;
--Color-Info-Foreground-default: #007bba;
--Color-Info-Foreground-hover: #ffffff;
--Color-Info-Foreground-active: #ffffff;
--Color-Info-Foreground-disabled: #434e66;
--Color-Info-Subtle-Background-default: #b3d7ea;
--Color-Info-Subtle-Background-hover: #b3d7ea;
--Color-Info-Subtle-Background-active: #007bba;
--Color-Info-Subtle-Background-disabled: #ffffff;
--Color-Info-Subtle-Foreground-default: #ffffff;
--Color-Info-Subtle-Foreground-hover: #ffffff;
--Color-Info-Subtle-Foreground-active: #ffffff;
--Color-Info-Subtle-Foreground-disabled: #434e66;
--Color-Info-Primary-Background-default: #007bba;
--Color-Info-Primary-Background-hover: #ffffff;
--Color-Info-Primary-Background-active: #ffffff;
--Color-Info-Primary-Background-disabled: #434e66;
--Color-Info-Primary-Foreground-default: #ffffff;
--Color-Info-Primary-Foreground-hover: #ffffff;
--Color-Info-Primary-Foreground-active: #ffffff;
--Color-Info-Primary-Foreground-disabled: #c7cad1;
--Color-Info-Border-default: #007bba;
--Color-Info-Border-hover: #007bba;
--Color-Info-Border-active: #ffffff;
--Color-Info-Border-disabled: #434e66;
--Color-Focus-focus: #2c72e0;
--Boolean: true;
--Spacing-0: 0;
--Spacing-1: 16;
--Spacing-2: 24;
--Spacing-3: 32;
--Spacing-4: 40;
--Spacing-5: 48;
--border-border-radius-none: 0;
--border-border-radius-sm: 4;
--border-border-radius-md: 8;
--border-border-radius-md-focus: 12;
--border-border-radius-lg: 16;
--border-border-radius-xl: 32;
--border-border-radius-full: 999;
--border-border-width-none: 0;
--border-border-width-default: 1;
--border-border-width-hover: 2;
--border-border-width-active: 2;
--border-border-width-selected: 3;
--border-border-width-disabled: 1;
}
[data-mode="dark-mode"] {
--Color-Base-Background-default: #000000;
--Color-Base-Background-hover: #101318;
--Color-Base-Background-active: #1d222c;
--Color-Base-Background-disabled: #000000;
--Color-Base-Foreground-default: #c7cad1;
--Color-Base-Foreground-hover: #c7cad1;
--Color-Base-Foreground-active: #c7cad1;
--Color-Base-Foreground-disabled: #242a37;
--Color-Base-Subtle-Background-default: #101318;
--Color-Base-Subtle-Background-hover: #1d222c;
--Color-Base-Subtle-Background-active: #242a37;
--Color-Base-Subtle-Background-disabled: #101318;
--Color-Base-Subtle-Foreground-default: #7b8394;
--Color-Base-Subtle-Foreground-hover: #7b8394;
--Color-Base-Subtle-Foreground-active: #c7cad1;
--Color-Base-Subtle-Foreground-disabled: #242a37;
--Color-Base-Primary-Background-default: #a1a7b3;
--Color-Base-Primary-Background-hover: #7b8394;
--Color-Base-Primary-Background-active: #697185;
--Color-Base-Primary-Background-disabled: #242a37;
--Color-Base-Primary-Foreground-default: #000000;
--Color-Base-Primary-Foreground-hover: #000000;
--Color-Base-Primary-Foreground-active: #000000;
--Color-Base-Primary-Foreground-disabled: #101318;
--Color-Base-Border-default: #1d222c;
--Color-Base-Border-hover: #242a37;
--Color-Base-Border-active: #31394a;
--Color-Base-Border-disabled: #1d222c;
--Color-Primary-Background-default: #000000;
--Color-Primary-Background-hover: #0b1b36;
--Color-Primary-Background-active: #133160;
--Color-Primary-Background-disabled: #000000;
--Color-Primary-Foreground-default: #2c72e0;
--Color-Primary-Foreground-hover: #568ee6;
--Color-Primary-Foreground-active: #6b9ce9;
--Color-Primary-Foreground-disabled: #242a37;
--Color-Primary-Subtle-Background-default: #0b1b36;
--Color-Primary-Subtle-Background-hover: #133160;
--Color-Primary-Subtle-Background-active: #183e79;
--Color-Primary-Subtle-Background-disabled: #000000;
--Color-Primary-Subtle-Foreground-default: #568ee6;
--Color-Primary-Subtle-Foreground-hover: #96b9f0;
--Color-Primary-Subtle-Foreground-active: #c0d5f6;
--Color-Primary-Subtle-Foreground-disabled: #242a37;
--Color-Primary-Primary-Background-default: #2c72e0;
--Color-Primary-Primary-Background-hover: #568ee6;
--Color-Primary-Primary-Background-active: #6b9ce9;
--Color-Primary-Primary-Background-disabled: #242a37;
--Color-Primary-Primary-Foreground-default: #ffffff;
--Color-Primary-Primary-Foreground-hover: #ffffff;
--Color-Primary-Primary-Foreground-active: #ffffff;
--Color-Primary-Primary-Foreground-disabled: #101318;
--Color-Primary-Border-default: #245db8;
--Color-Primary-Border-hover: #2c72e0;
--Color-Primary-Border-active: #568ee6;
--Color-Primary-Border-disabled: #242a37;
--Color-Success-Background-default: #000000;
--Color-Success-Background-hover: #012100;
--Color-Success-Background-active: #023b00;
--Color-Success-Background-disabled: #000000;
--Color-Success-Foreground-default: #058900;
--Color-Success-Foreground-hover: #37a133;
--Color-Success-Foreground-active: #50ac4d;
--Color-Success-Foreground-disabled: #242a37;
--Color-Success-Subtle-Background-default: #012100;
--Color-Success-Subtle-Background-hover: #023b00;
--Color-Success-Subtle-Background-active: #034a00;
--Color-Success-Subtle-Background-disabled: #000000;
--Color-Success-Subtle-Foreground-default: #37a133;
--Color-Success-Subtle-Foreground-hover: #82c480;
--Color-Success-Subtle-Foreground-active: #b4dcb3;
--Color-Success-Subtle-Foreground-disabled: #242a37;
--Color-Success-Primary-Background-default: #058900;
--Color-Success-Primary-Background-hover: #37a133;
--Color-Success-Primary-Background-active: #50ac4d;
--Color-Success-Primary-Background-disabled: #242a37;
--Color-Success-Primary-Foreground-default: #ffffff;
--Color-Success-Primary-Foreground-hover: #ffffff;
--Color-Success-Primary-Foreground-active: #ffffff;
--Color-Success-Primary-Foreground-disabled: #101318;
--Color-Success-Border-default: #047000;
--Color-Success-Border-hover: #058900;
--Color-Success-Border-active: #37a133;
--Color-Success-Border-disabled: #242a37;
--Color-Warning-Background-default: #000000;
--Color-Warning-Background-hover: #311300;
--Color-Warning-Background-active: #582200;
--Color-Warning-Background-disabled: #000000;
--Color-Warning-Foreground-default: #cc4e00;
--Color-Warning-Foreground-hover: #d67133;
--Color-Warning-Foreground-active: #db834d;
--Color-Warning-Foreground-disabled: #242a37;
--Color-Warning-Subtle-Background-default: #311300;
--Color-Warning-Subtle-Background-hover: #582200;
--Color-Warning-Subtle-Background-active: #6e2a00;
--Color-Warning-Subtle-Background-disabled: #000000;
--Color-Warning-Subtle-Foreground-default: #d67133;
--Color-Warning-Subtle-Foreground-hover: #e6a780;
--Color-Warning-Subtle-Foreground-active: #f0cab3;
--Color-Warning-Subtle-Foreground-disabled: #242a37;
--Color-Warning-Primary-Background-default: #cc4e00;
--Color-Warning-Primary-Background-hover: #d67133;
--Color-Warning-Primary-Background-active: #db834d;
--Color-Warning-Primary-Background-disabled: #242a37;
--Color-Warning-Primary-Foreground-default: #ffffff;
--Color-Warning-Primary-Foreground-hover: #ffffff;
--Color-Warning-Primary-Foreground-active: #ffffff;
--Color-Warning-Primary-Foreground-disabled: #101318;
--Color-Warning-Border-default: #a74000;
--Color-Warning-Border-hover: #cc4e00;
--Color-Warning-Border-active: #d67133;
--Color-Warning-Border-disabled: #242a37;
--Color-Error-Background-default: #000000;
--Color-Error-Background-hover: #1d0101;
--Color-Error-Background-active: #650607;
--Color-Error-Background-disabled: #000000;
--Color-Error-Foreground-default: #ea0d11;
--Color-Error-Foreground-hover: #ee3d41;
--Color-Error-Foreground-active: #f05658;
--Color-Error-Foreground-disabled: #242a37;
--Color-Error-Subtle-Background-default: #1d0101;
--Color-Error-Subtle-Background-hover: #650607;
--Color-Error-Subtle-Background-active: #7e0709;
--Color-Error-Subtle-Background-disabled: #000000;
--Color-Error-Subtle-Foreground-default: #ee3d41;
--Color-Error-Subtle-Foreground-hover: #f58688;
--Color-Error-Subtle-Foreground-active: #f9b6b8;
--Color-Error-Subtle-Foreground-disabled: #242a37;
--Color-Error-Primary-Background-default: #ea0d11;
--Color-Error-Primary-Background-hover: #ee3d41;
--Color-Error-Primary-Background-active: #f05658;
--Color-Error-Primary-Background-disabled: #242a37;
--Color-Error-Primary-Foreground-default: #ffffff;
--Color-Error-Primary-Foreground-hover: #ffffff;
--Color-Error-Primary-Foreground-active: #ffffff;
--Color-Error-Primary-Foreground-disabled: #101318;
--Color-Error-Border-default: #c00b0e;
--Color-Error-Border-hover: #ea0d11;
--Color-Error-Border-active: #ee3d41;
--Color-Error-Border-disabled: #242a37;
--Color-Info-Background-default: #000000;
--Color-Info-Background-hover: #001e2d;
--Color-Info-Background-active: #003550;
--Color-Info-Background-disabled: #000000;
--Color-Info-Foreground-default: #007bba;
--Color-Info-Foreground-hover: #3395c8;
--Color-Info-Foreground-active: #4da3cf;
--Color-Info-Foreground-disabled: #242a37;
--Color-Info-Subtle-Background-default: #001e2d;
--Color-Info-Subtle-Background-hover: #003550;
--Color-Info-Subtle-Background-active: #004264;
--Color-Info-Subtle-Background-disabled: #000000;
--Color-Info-Subtle-Foreground-default: #3395c8;
--Color-Info-Subtle-Foreground-hover: #80bddd;
--Color-Info-Subtle-Foreground-active: #b3d7ea;
--Color-Info-Subtle-Foreground-disabled: #242a37;
--Color-Info-Primary-Background-default: #007bba;
--Color-Info-Primary-Background-hover: #3395c8;
--Color-Info-Primary-Background-active: #4da3cf;
--Color-Info-Primary-Background-disabled: #242a37;
--Color-Info-Primary-Foreground-default: #ffffff;
--Color-Info-Primary-Foreground-hover: #ffffff;
--Color-Info-Primary-Foreground-active: #ffffff;
--Color-Info-Primary-Foreground-disabled: #101318;
--Color-Info-Border-default: #006599;
--Color-Info-Border-hover: #007bba;
--Color-Info-Border-active: #3395c8;
--Color-Info-Border-disabled: #242a37;
--Color-Focus-focus: #2c72e0;
--Boolean: true;
--Spacing-0: 0;
--Spacing-1: 16;
--Spacing-2: 24;
--Spacing-3: 32;
--Spacing-4: 40;
--Spacing-5: 48;
--border-border-radius-none: 0;
--border-border-radius-sm: 4;
--border-border-radius-md: 8;
--border-border-radius-md-focus: 12;
--border-border-radius-lg: 16;
--border-border-radius-xl: 32;
--border-border-radius-full: 999;
--border-border-width-none: 0;
--border-border-width-default: 1;
--border-border-width-hover: 2;
--border-border-width-active: 2;
--border-border-width-selected: 3;
--border-border-width-disabled: 1;
}
[data-mode="hc-dark-mode"] {
--Color-Base-Background-default: #000000;
--Color-Base-Background-hover: #1d222c;
--Color-Base-Background-active: #434e66;
--Color-Base-Background-disabled: #000000;
--Color-Base-Foreground-default: #ffffff;
--Color-Base-Foreground-hover: #ffffff;
--Color-Base-Foreground-active: #ffffff;
--Color-Base-Foreground-disabled: #434e66;
--Color-Base-Subtle-Background-default: #1d222c;
--Color-Base-Subtle-Background-hover: #434e66;
--Color-Base-Subtle-Background-active: #434e66;
--Color-Base-Subtle-Background-disabled: #1d222c;
--Color-Base-Subtle-Foreground-default: #ffffff;
--Color-Base-Subtle-Foreground-hover: #ffffff;
--Color-Base-Subtle-Foreground-active: #ffffff;
--Color-Base-Subtle-Foreground-disabled: #434e66;
--Color-Base-Primary-Background-default: #ffffff;
--Color-Base-Primary-Background-hover: #ffffff;
--Color-Base-Primary-Background-active: #434e66;
--Color-Base-Primary-Background-disabled: #434e66;
--Color-Base-Primary-Foreground-default: #000000;
--Color-Base-Primary-Foreground-hover: #000000;
--Color-Base-Primary-Foreground-active: #000000;
--Color-Base-Primary-Foreground-disabled: #1d222c;
--Color-Base-Border-default: #434e66;
--Color-Base-Border-hover: #434e66;
--Color-Base-Border-active: #434e66;
--Color-Base-Border-disabled: #434e66;
--Color-Primary-Background-default: #000000;
--Color-Primary-Background-hover: #133160;
--Color-Primary-Background-active: #133160;
--Color-Primary-Background-disabled: #000000;
--Color-Primary-Foreground-default: #2c72e0;
--Color-Primary-Foreground-hover: #ffffff;
--Color-Primary-Foreground-active: #ffffff;
--Color-Primary-Foreground-disabled: #434e66;
--Color-Primary-Subtle-Background-default: #133160;
--Color-Primary-Subtle-Background-hover: #133160;
--Color-Primary-Subtle-Background-active: #2c72e0;
--Color-Primary-Subtle-Background-disabled: #000000;
--Color-Primary-Subtle-Foreground-default: #ffffff;
--Color-Primary-Subtle-Foreground-hover: #ffffff;
--Color-Primary-Subtle-Foreground-active: #ffffff;
--Color-Primary-Subtle-Foreground-disabled: #434e66;
--Color-Primary-Primary-Background-default: #2c72e0;
--Color-Primary-Primary-Background-hover: #ffffff;
--Color-Primary-Primary-Background-active: #ffffff;
--Color-Primary-Primary-Background-disabled: #434e66;
--Color-Primary-Primary-Foreground-default: #ffffff;
--Color-Primary-Primary-Foreground-hover: #ffffff;
--Color-Primary-Primary-Foreground-active: #ffffff;
--Color-Primary-Primary-Foreground-disabled: #1d222c;
--Color-Primary-Border-default: #2c72e0;
--Color-Primary-Border-hover: #2c72e0;
--Color-Primary-Border-active: #ffffff;
--Color-Primary-Border-disabled: #434e66;
--Color-Success-Background-default: #000000;
--Color-Success-Background-hover: #023b00;
--Color-Success-Background-active: #023b00;
--Color-Success-Background-disabled: #000000;
--Color-Success-Foreground-default: #058900;
--Color-Success-Foreground-hover: #ffffff;
--Color-Success-Foreground-active: #ffffff;
--Color-Success-Foreground-disabled: #434e66;
--Color-Success-Subtle-Background-default: #023b00;
--Color-Success-Subtle-Background-hover: #023b00;
--Color-Success-Subtle-Background-active: #058900;
--Color-Success-Subtle-Background-disabled: #000000;
--Color-Success-Subtle-Foreground-default: #ffffff;
--Color-Success-Subtle-Foreground-hover: #ffffff;
--Color-Success-Subtle-Foreground-active: #ffffff;
--Color-Success-Subtle-Foreground-disabled: #434e66;
--Color-Success-Primary-Background-default: #058900;
--Color-Success-Primary-Background-hover: #ffffff;
--Color-Success-Primary-Background-active: #ffffff;
--Color-Success-Primary-Background-disabled: #434e66;
--Color-Success-Primary-Foreground-default: #ffffff;
--Color-Success-Primary-Foreground-hover: #ffffff;
--Color-Success-Primary-Foreground-active: #ffffff;
--Color-Success-Primary-Foreground-disabled: #1d222c;
--Color-Success-Border-default: #058900;
--Color-Success-Border-hover: #058900;
--Color-Success-Border-active: #ffffff;
--Color-Success-Border-disabled: #434e66;
--Color-Warning-Background-default: #000000;
--Color-Warning-Background-hover: #582200;
--Color-Warning-Background-active: #582200;
--Color-Warning-Background-disabled: #000000;
--Color-Warning-Foreground-default: #cc4e00;
--Color-Warning-Foreground-hover: #ffffff;
--Color-Warning-Foreground-active: #ffffff;
--Color-Warning-Foreground-disabled: #434e66;
--Color-Warning-Subtle-Background-default: #582200;
--Color-Warning-Subtle-Background-hover: #582200;
--Color-Warning-Subtle-Background-active: #cc4e00;
--Color-Warning-Subtle-Background-disabled: #000000;
--Color-Warning-Subtle-Foreground-default: #ffffff;
--Color-Warning-Subtle-Foreground-hover: #ffffff;
--Color-Warning-Subtle-Foreground-active: #ffffff;
--Color-Warning-Subtle-Foreground-disabled: #434e66;
--Color-Warning-Primary-Background-default: #cc4e00;
--Color-Warning-Primary-Background-hover: #ffffff;
--Color-Warning-Primary-Background-active: #ffffff;
--Color-Warning-Primary-Background-disabled: #434e66;
--Color-Warning-Primary-Foreground-default: #ffffff;
--Color-Warning-Primary-Foreground-hover: #ffffff;
--Color-Warning-Primary-Foreground-active: #ffffff;
--Color-Warning-Primary-Foreground-disabled: #1d222c;
--Color-Warning-Border-default: #cc4e00;
--Color-Warning-Border-hover: #cc4e00;
--Color-Warning-Border-active: #ffffff;
--Color-Warning-Border-disabled: #434e66;
--Color-Error-Background-default: #000000;
--Color-Error-Background-hover: #650607;
--Color-Error-Background-active: #650607;
--Color-Error-Background-disabled: #000000;
--Color-Error-Foreground-default: #ea0d11;
--Color-Error-Foreground-hover: #ffffff;
--Color-Error-Foreground-active: #ffffff;
--Color-Error-Foreground-disabled: #434e66;
--Color-Error-Subtle-Background-default: #650607;
--Color-Error-Subtle-Background-hover: #650607;
--Color-Error-Subtle-Background-active: #ea0d11;
--Color-Error-Subtle-Background-disabled: #000000;
--Color-Error-Subtle-Foreground-default: #ffffff;
--Color-Error-Subtle-Foreground-hover: #ffffff;
--Color-Error-Subtle-Foreground-active: #ffffff;
--Color-Error-Subtle-Foreground-disabled: #434e66;
--Color-Error-Primary-Background-default: #ea0d11;
--Color-Error-Primary-Background-hover: #ffffff;
--Color-Error-Primary-Background-active: #ffffff;
--Color-Error-Primary-Background-disabled: #434e66;
--Color-Error-Primary-Foreground-default: #ffffff;
--Color-Error-Primary-Foreground-hover: #ffffff;
--Color-Error-Primary-Foreground-active: #ffffff;
--Color-Error-Primary-Foreground-disabled: #1d222c;
--Color-Error-Border-default: #ea0d11;
--Color-Error-Border-hover: #ea0d11;
--Color-Error-Border-active: #ffffff;
--Color-Error-Border-disabled: #434e66;
--Color-Info-Background-default: #000000;
--Color-Info-Background-hover: #003550;
--Color-Info-Background-active: #003550;
--Color-Info-Background-disabled: #000000;
--Color-Info-Foreground-default: #007bba;
--Color-Info-Foreground-hover: #ffffff;
--Color-Info-Foreground-active: #ffffff;
--Color-Info-Foreground-disabled: #434e66;
--Color-Info-Subtle-Background-default: #003550;
--Color-Info-Subtle-Background-hover: #003550;
--Color-Info-Subtle-Background-active: #2c72e0;
--Color-Info-Subtle-Background-disabled: #000000;
--Color-Info-Subtle-Foreground-default: #ffffff;
--Color-Info-Subtle-Foreground-hover: #ffffff;
--Color-Info-Subtle-Foreground-active: #ffffff;
--Color-Info-Subtle-Foreground-disabled: #434e66;
--Color-Info-Primary-Background-default: #007bba;
--Color-Info-Primary-Background-hover: #ffffff;
--Color-Info-Primary-Background-active: #ffffff;
--Color-Info-Primary-Background-disabled: #434e66;
--Color-Info-Primary-Foreground-default: #ffffff;
--Color-Info-Primary-Foreground-hover: #ffffff;
--Color-Info-Primary-Foreground-active: #ffffff;
--Color-Info-Primary-Foreground-disabled: #1d222c;
--Color-Info-Border-default: #007bba;
--Color-Info-Border-hover: #007bba;
--Color-Info-Border-active: #ffffff;
--Color-Info-Border-disabled: #434e66;
--Color-Focus-focus: #2c72e0;
--Boolean: true;
--Spacing-0: 0;
--Spacing-1: 16;
--Spacing-2: 24;
--Spacing-3: 32;
--Spacing-4: 40;
--Spacing-5: 48;
--border-border-radius-none: 0;
--border-border-radius-sm: 4;
--border-border-radius-md: 8;
--border-border-radius-md-focus: 12;
--border-border-radius-lg: 16;
--border-border-radius-xl: 32;
--border-border-radius-full: 999;
--border-border-width-none: 0;
--border-border-width-default: 1;
--border-border-width-hover: 2;
--border-border-width-active: 2;
--border-border-width-selected: 3;
--border-border-width-disabled: 1;
}