/* layout.css */
/* Layout tokens for all modes */
/*
* modes: light-mode,hc-light-mode,dark-mode,hc-dark-mode
* type: layout
* variables: 248
* generated: 2025-06-30T07:02:09.779Z
*/
:root {
--Color-Background-body: #ffffff;
--Color-Background-subtle: #ecedf0;
--Color-Background-primary-subtle: #eaf1fc;
--Color-Background-primary: #2c72e0;
--Color-Background-success-subtle: #e6f3e6;
--Color-Background-success: #058900;
--Color-Background-warning-subtle: #faede6;
--Color-Background-warning: #cc4e00;
--Color-Background-base-subtle: #ecedf0;
--Color-Background-base: #242a37;
--Color-Background-error-subtle: #fde7e7;
--Color-Background-error: #ea0d11;
--Color-Background-info-subtle: #e6f2f8;
--Color-Background-info: #007bba;
--Color-Background-disabled: #a1a7b3;
--Color-Border-default: #c7cad1;
--Color-Border-primary: #568ee6;
--Color-Border-success: #37a133;
--Color-Border-warning: #d67133;
--Color-Border-error: #ee3d41;
--Color-Text-default: #1d222c;
--Color-Text-subtle: #31394a;
--Color-Text-disabled: #a1a7b3;
--Color-Text-on-base: #ffffff;
--Color-Text-on-base-subtle: #1d222c;
--Color-Text-on-primary-subtle: #2c72e0;
--Color-Text-on-primary: #ffffff;
--Color-Text-on-success-subtle: #058900;
--Color-Text-on-success: #ffffff;
--Color-Text-on-warning-subtle: #cc4e00;
--Color-Text-on-warning: #ffffff;
--Color-Text-on-error: #ffffff;
--Color-Text-on-error-subtle: #ea0d11;
--Color-Text-on-info-subtle: #007bba;
--Color-Text-on-info: #ffffff;
--Color-Functional-barrier: #000000e0;
--Spacing-0: 2;
--Spacing-1: 4;
--Spacing-2: 8;
--Spacing-3: 10;
--Spacing-4: 12;
--Spacing-5: 16;
--Spacing-6: 20;
--Spacing-7: 24;
--Spacing-8: 28;
--Spacing-9: 32;
--Spacing-10: 40;
--Spacing-11: 48;
--Spacing-12: 56;
--Border-border-width-none: 0;
--Border-border-width-selected: 3;
--Border-border-width-active: 2;
--Border-border-width-disabled: 1;
--Border-border-width-hover: 2;
--Border-border-width-default: 1;
--Border-border-radius-full: 999;
--Border-border-radius-xl: 32;
--Border-border-radius-lg: 16;
--Border-border-radius-md: 8;
--Border-border-radius-sm: 4;
--Border-border-radius-none: 0;
--Border-border-radius-md-focus: 12;
}
[data-mode="hc-light-mode"] {
--Color-Background-body: #ffffff;
--Color-Background-subtle: #c7cad1;
--Color-Background-primary-subtle: #c0d5f6;
--Color-Background-primary: #2c72e0;
--Color-Background-success-subtle: #b4dcb3;
--Color-Background-success: #058900;
--Color-Background-warning-subtle: #f0cab3;
--Color-Background-warning: #cc4e00;
--Color-Background-base-subtle: #c7cad1;
--Color-Background-base: #000000;
--Color-Background-error-subtle: #f9b6b8;
--Color-Background-error: #ea0d11;
--Color-Background-info-subtle: #b3d7ea;
--Color-Background-info: #007bba;
--Color-Background-disabled: #434e66;
--Color-Border-default: #c7cad1;
--Color-Border-primary: #2c72e0;
--Color-Border-success: #058900;
--Color-Border-warning: #cc4e00;
--Color-Border-error: #ea0d11;
--Color-Text-default: #000000;
--Color-Text-subtle: #000000;
--Color-Text-disabled: #434e66;
--Color-Text-on-base: #ffffff;
--Color-Text-on-base-subtle: #000000;
--Color-Text-on-primary-subtle: #2c72e0;
--Color-Text-on-primary: #ffffff;
--Color-Text-on-success-subtle: #058900;
--Color-Text-on-success: #ffffff;
--Color-Text-on-warning-subtle: #cc4e00;
--Color-Text-on-warning: #ffffff;
--Color-Text-on-error: #ffffff;
--Color-Text-on-error-subtle: #ea0d11;
--Color-Text-on-info-subtle: #007bba;
--Color-Text-on-info: #ffffff;
--Color-Functional-barrier: #000000e0;
--Spacing-0: 2;
--Spacing-1: 4;
--Spacing-2: 8;
--Spacing-3: 10;
--Spacing-4: 12;
--Spacing-5: 16;
--Spacing-6: 20;
--Spacing-7: 24;
--Spacing-8: 28;
--Spacing-9: 32;
--Spacing-10: 40;
--Spacing-11: 48;
--Spacing-12: 56;
--Border-border-width-none: 0;
--Border-border-width-selected: 3;
--Border-border-width-active: 2;
--Border-border-width-disabled: 1;
--Border-border-width-hover: 2;
--Border-border-width-default: 1;
--Border-border-radius-full: 999;
--Border-border-radius-xl: 32;
--Border-border-radius-lg: 16;
--Border-border-radius-md: 8;
--Border-border-radius-sm: 4;
--Border-border-radius-none: 0;
--Border-border-radius-md-focus: 12;
}
[data-mode="dark-mode"] {
--Color-Background-body: #000000;
--Color-Background-subtle: #101318;
--Color-Background-primary-subtle: #0b1b36;
--Color-Background-primary: #2c72e0;
--Color-Background-success-subtle: #012100;
--Color-Background-success: #058900;
--Color-Background-warning-subtle: #311300;
--Color-Background-warning: #cc4e00;
--Color-Background-base-subtle: #101318;
--Color-Background-base: #a1a7b3;
--Color-Background-error-subtle: #1d0101;
--Color-Background-error: #ea0d11;
--Color-Background-info-subtle: #001e2d;
--Color-Background-info: #007bba;
--Color-Background-disabled: #242a37;
--Color-Border-default: #1d222c;
--Color-Border-primary: #245db8;
--Color-Border-success: #047000;
--Color-Border-warning: #a74000;
--Color-Border-error: #c00b0e;
--Color-Text-default: #c7cad1;
--Color-Text-subtle: #7b8394;
--Color-Text-disabled: #242a37;
--Color-Text-on-base: #000000;
--Color-Text-on-base-subtle: #c7cad1;
--Color-Text-on-primary-subtle: #2c72e0;
--Color-Text-on-primary: #ffffff;
--Color-Text-on-success-subtle: #058900;
--Color-Text-on-success: #ffffff;
--Color-Text-on-warning-subtle: #cc4e00;
--Color-Text-on-warning: #ffffff;
--Color-Text-on-error: #ffffff;
--Color-Text-on-error-subtle: #ea0d11;
--Color-Text-on-info-subtle: #007bba;
--Color-Text-on-info: #ffffff;
--Color-Functional-barrier: #000000e0;
--Spacing-0: 2;
--Spacing-1: 4;
--Spacing-2: 8;
--Spacing-3: 10;
--Spacing-4: 12;
--Spacing-5: 16;
--Spacing-6: 20;
--Spacing-7: 24;
--Spacing-8: 28;
--Spacing-9: 32;
--Spacing-10: 40;
--Spacing-11: 48;
--Spacing-12: 56;
--Border-border-width-none: 0;
--Border-border-width-selected: 3;
--Border-border-width-active: 2;
--Border-border-width-disabled: 1;
--Border-border-width-hover: 2;
--Border-border-width-default: 1;
--Border-border-radius-full: 999;
--Border-border-radius-xl: 32;
--Border-border-radius-lg: 16;
--Border-border-radius-md: 8;
--Border-border-radius-sm: 4;
--Border-border-radius-none: 0;
--Border-border-radius-md-focus: 12;
}
[data-mode="hc-dark-mode"] {
--Color-Background-body: #000000;
--Color-Background-subtle: #1d222c;
--Color-Background-primary-subtle: #133160;
--Color-Background-primary: #2c72e0;
--Color-Background-success-subtle: #023b00;
--Color-Background-success: #058900;
--Color-Background-warning-subtle: #582200;
--Color-Background-warning: #cc4e00;
--Color-Background-base-subtle: #1d222c;
--Color-Background-base: #ffffff;
--Color-Background-error-subtle: #650607;
--Color-Background-error: #ea0d11;
--Color-Background-info-subtle: #003550;
--Color-Background-info: #007bba;
--Color-Background-disabled: #434e66;
--Color-Border-default: #434e66;
--Color-Border-primary: #2c72e0;
--Color-Border-success: #058900;
--Color-Border-warning: #cc4e00;
--Color-Border-error: #ea0d11;
--Color-Text-default: #ffffff;
--Color-Text-subtle: #ffffff;
--Color-Text-disabled: #434e66;
--Color-Text-on-base: #000000;
--Color-Text-on-base-subtle: #ffffff;
--Color-Text-on-primary-subtle: #2c72e0;
--Color-Text-on-primary: #ffffff;
--Color-Text-on-success-subtle: #058900;
--Color-Text-on-success: #ffffff;
--Color-Text-on-warning-subtle: #cc4e00;
--Color-Text-on-warning: #ffffff;
--Color-Text-on-error: #ffffff;
--Color-Text-on-error-subtle: #ea0d11;
--Color-Text-on-info-subtle: #007bba;
--Color-Text-on-info: #ffffff;
--Color-Functional-barrier: #000000e0;
--Spacing-0: 2;
--Spacing-1: 4;
--Spacing-2: 8;
--Spacing-3: 10;
--Spacing-4: 12;
--Spacing-5: 16;
--Spacing-6: 20;
--Spacing-7: 24;
--Spacing-8: 28;
--Spacing-9: 32;
--Spacing-10: 40;
--Spacing-11: 48;
--Spacing-12: 56;
--Border-border-width-none: 0;
--Border-border-width-selected: 3;
--Border-border-width-active: 2;
--Border-border-width-disabled: 1;
--Border-border-width-hover: 2;
--Border-border-width-default: 1;
--Border-border-radius-full: 999;
--Border-border-radius-xl: 32;
--Border-border-radius-lg: 16;
--Border-border-radius-md: 8;
--Border-border-radius-sm: 4;
--Border-border-radius-none: 0;
--Border-border-radius-md-focus: 12;
}